body{
    background-color: rgb(172, 180, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#noman{
    color: blue;
}
#abdullah{
    color: green;
}
#hello{
    text-align: center;
    font-weight: bold;
}
#name{
    text-align: center;
    font-size: 20px;
    color: purple;
}